/* --------------------------------------
General 
-------------------------------------- */

* {
	box-sizing: border-box;
}

body {
	background: url(../img/background.jpg) center center no-repeat fixed;
	background-size: cover;
	font-family: 'Titillium Web', sans-serif;
	color: #deddde;
	font-size: 16px;
	line-height: 1.4;
}

.container {
	max-width: 1170px;
	margin: 0 auto;
}

main {
	width: 70%;
	margin-bottom: 140px;
}

p {
	font-color: #000;
}

.teko-caps {
	font-family: Teko, sans-serif;
	text-transform: uppercase;
	font-weight: 300;
}

/* --------------------------------------
Header 
-------------------------------------- */

.top-header {
	margin-bottom: 10%;
}

.logo {
	float: left;
	width: 70px;
	height: 70px;
}

header nav {
	float: right;
}

header nav ul {
	display: none;
}

.hamburger {
	height: 70px;
	width: 70px;
	background: #352d2f;
}

.hamburger a {
	color: white;
	display: inline-block;
	font-size: 1.5em;
	margin: 0 auto;
	height: 70px;
	width: 70px;
	padding: 19px 24px;
}

/* ---------------------------------------------
Main
--------------------------------------------- */

h1 {
	font-size: 120px;
	letter-spacing: 20px;
	color: white;
	line-height: .9;
}

header b.lead, .main-p {
	width: 85%;
}

header b.lead {
	font-size: 26px;
	font-weight: 300;
	margin: .8em 0;
	display: block;
}

.main-p {
	
}

/* ---------------------------------------------
Stay Connected
--------------------------------------------- */

.connected h2, p {
	width: 55%;
}

.connected h2 {
	color: white;
	font-size: 1.875em;
	letter-spacing: .1em;
	font-weight: 400;
	margin: 1.6em 0 .4em;
}

/* ---------------------------------------------
Form
--------------------------------------------- */

form input {
	width: 350px;
	height: 50px;
	margin: 3em 0;
	padding-left: 1em;
	border: none;
	line-height: 50px;
}

input::-webkit-input-placeholder {
	font-family: 'Titillium Web', sans-serif;
	font-size: 1.25em;
	padding-left: 1em;
	font-weight: 300;
}	

form button {
	letter-spacing: .15em;
	color: white;
	width: 120px;
	height: 50px;
	background: #f63c3c;
	border: none;
	font-size: 1.25em;
}

/* ---------------------------------------------
Aside
--------------------------------------------- */

aside div.container {
	width: 50%;
	margin: 0;
	float: left;
}

aside i.fa-twitter {
	font-size: 1.5em;
	display: inline-block;
	float: left;
	margin-right: 1em;
}

time {
	display: block;
	color: #959595;
	font-size: 1em;
	letter-spacing: .1em;
}

aside h3 {
	font-size: 1.25em;
	letter-spacing: .1em;
	line-height: .8;
}

aside p {
	margin: 1em 0;
	font-size: .875em;
}

aside article {
	font-size: .875em;
}

/* ---------------------------------------------
Clearfix
--------------------------------------------- */

footer.main {
	color: #959595;	
	font-size: .8125em;
	margin-bottom: 30px;
}

footer.main a {
	text-decoration: none;
	color: white;
}

footer.main p {
	float: left;
}

footer.main ul {
	float: right;
}

footer.main li {
	display: inline-block;
	padding: 0 10px;
}

/* ---------------------------------------------
Clearfix
--------------------------------------------- */

.group:after {
	visibility: hidden;
	display: block;
	content: "";
	clear: both;
	height: 0;
}
